{{> header}}

<div class="container">
  <div class="panel">
    <div class="panel-body">
      {{#if messages.success}}
        <div role="alert" class="alert alert-success">
          {{#each messages.success}}
            <div>{{msg}}</div>
          {{/each}}
        </div>
      {{/if}}
      {{#if messages.error}}
        <div role="alert" class="alert alert-danger">
          {{#each messages.error}}
            <div>{{msg}}</div>
          {{/each}}
        </div>
      {{/if}}
      <form method="POST" action="/account/posts/edit/{{data.id}}" class="form-horizontal">
        <legend>Post</legend>
        <div class="form-group">
          <label for="email" class="col-sm-3">Title</label>
          <div class="col-sm-12 col-md-6 col-lg-4">
            <h3>
              {{data.title}}
            </h3>
          </div>
        </div>
        <div class="form-group">
          <label for="email" class="col-sm-3">Body</label>
          <div class="col-sm-12 col-md-6 col-lg-4">
            <p>
              {{data.body}}
            </p>
          </div>
        </div>
        <div class="form-group">
          <label for="email" class="col-sm-3">Tags</label>
          <div class="col-sm-12 col-md-6 col-lg-4">
            <p>
              {{data.tags}}
            </p>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-4">
            <button type="submit" class="btn btn-success">Post</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{{> footer}}
